<% column_div :type => :primary do %>
    <% unless @artists.empty? %>
        <h2>Artists</h2>
        <%= will_paginate %>
        <ul class="list artists">
          <%= render :partial => @artists %>
        </ul>
        <%= will_paginate %>
    <% end %>
<% end %>

<% column_div :type => :secondary do %>
    <%= render :partial => 'searches/box' %>
    <h2><%= link_to 'Create an Artist', :controller => 'artists', :action => 'new' %></h2>
    <%= render :partial => 'shared/minifeed' %>
<% end %>