<h2><%= @artist.name %></h2>

<% if is_member(@current_person, @artist) %>
    <div class="edit">
    <%= link_to 'Edit', :action => 'edit', :id => @artist %>
    </div>
<% end %>

<div class="artist-bio">
  <%= @artist.description %>
</div>

<%= render :partial => 'members' %>

<% unless @artist.fans.empty? %>
    <div id="artist-fans-list">
      <div id="fans-title">Fans (<span class="artist-fan-count"><%= @artist.fans.size %></span>):</div>
      <ul>
        <% @artist.fans.each do |fan| %>
            <li><%= link_to fan.name, fan %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= fan_link @current_person, @artist %>