<h2>Add a Song</h2>
<%= error_messages_for :song %>

<% form_for @song, :url => { :controller => :songs, :action => :create, :album_id => @album }, :html => { :multipart => true } do |f| -%>
    <div class="form_field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form_field">
      <%= f.label :uploaded_data, 'Album Photo' %>
      <%= f.file_field :uploaded_data %>
    </div>
    <div class="form_field">
      <%= submit_tag 'Upload', :class => 'button' %>
      <%= album_link @album, :name => 'Cancel', :class => 'button', :id => 'cancel' %> 
    </div>
<%- end -%>