<%= javascript_include_tag 'jquery.jplayer.min' %>

<h2><%= @album.title %> : <%= @artist.name %></h2>
<h5><%= link_to 'Add Songs', new_artist_album_song_path(:album_id => @album, :artist_id => @album.artist) %></h5>

<% column_div :type => :primary do %>
    <div class="album-info">
      <%= image_tag @album.public_filename, :class => "profile-image photo",
                    :alt => h(@album.title) %>
    </div>
<% end %>

<% column_div :type => :secondary do %>

    <div id="jquery_jplayer">
      No Songs have been uploaded.
    </div>
<% end %>

<%- unless @album.songs.empty? -%>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#jquery_jplayer").jPlayer({
                ready: function() {
                    this.element.jPlayer("setFile", "http://www.miaowmusic.com/audio/mp3/Miaow-07-Bubble.mp3", "http://www.miaowmusic.com/audio/ogg/Miaow-07-Bubble.ogg").jPlayer("play");
                },
                nativeSupport: true, oggSupport: true, customCssIds: false
            }).jPlayer("onSoundComplete", function() {
                this.element.jPlayer("play");
            });
        });
    </script>
<%- end -%>