<%= stylesheet_link_tag 'facebook_scaffold' %>
<%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery-fx.js",
                             "jrails.js" %>
<%= facebook_messages %>

<div style="padding:10px">
  <%= yield %>

  <%= render :partial => 'shared/debug' %>
</div>
